<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solih.mcjay">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- For Android 13+ -->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCJAY"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".fragments.FragmentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BottomNavMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Splash Activity (must be exported for launcher) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity android:name=".activities.OnboardingActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SellerRegistrationActivity" />
        <activity android:name=".activities.SellerLoginActivity" />
        <activity android:name=".activities.SellerHomeActivity"
            android:exported="false"/>
        <activity android:name=".activities.SellerProfileActivity"
            android:exported="false"/>
        <activity android:name=".activities.CompleteProfileActivity"
            android:exported="false"/>
        <activity android:name=".activities.AddProductActivity" />
        <activity android:name=".activities.SellerProductsActivity" />
        <activity android:name=".activities.ProductDetailActivity" />

        <!-- Add this new entry for MyIDLoginActivity -->
<!--        <activity-->
<!--            android:name=".activities.MyIDLoginActivity"-->
<!--            android:exported="false" />-->

        <activity
            android:name=".activities.MyIDLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mcjay" android:host="auth-success" />
            </intent-filter>

        </activity>
    </application>

</manifest>